*.txt
*.log
*.vcd
*.pyc
*.il
*.xml
*_synth.v
*.vvp

**/database/
**/tasks/
**/obj_dir/
**/sim_build/
**/__pycache__
**/impl/
*.gprj.user
*_bound/
*_cvr/
*_prf/
*.yw
*.smtc
template_formal.v
*.json
*.dot
*.sqlite
